flask
flask-cors
python-dotenv
google-generativeai
livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-google
livekit-plugins-noise-cancellation
langchain-community
requests
duckduckgo-search
fuzzywuzzy
python-Levenshtein
livekit
